{% extends "SiteGalleryBundle::gallery.html.twig" %}

{% block title %}Создание альбома | Категория {{ category.name }} | Галерея изображений {{ parent(title) }}
{% endblock %}

{% block location %}
	<div class="module-navigate left">
		<a href='{{ path('site_gallery_homepage') }}'>{% trans %}Галерея{% endtrans %}</a><a href='{{ path('site_gallery_category', {'cRefId':category.getRefId}) }}'>{{ category.name }}</a>
	</div>
{% endblock %}

{% block content %}
	{% embed "SiteCoreBundle::fancyBoxInner.html.twig" %}
		{% block title %}
			<h1>Добавление нового альбома</h1>
			<h3>Название категории: {{ category.name }}</h3>
		{% endblock %}
		{% block content %}
			{% if albumChoiceList is empty %}
				<div class='validationMess, warn'>Все возможные альбомы уже созданы в этой категории</div>
			{% else %}
			<form action='{{ path('site_gallery_addAlbum', {'cRefId':category.getRefId}) }}' method='POST' id='form'>
				<span>Тип альбома: </span>
				<select name='{{ albumChoiceList.referenceName }}' required>
				{% for item in albumChoiceList.items %}
  					<option value="{{ item.refId }}">{{ item.title }}</option>
  				{% endfor %}
				</select>
				<button type='submit' formtarget='_self'>Создать</button>
			</form>
			<script>
$(document).ready(function(){ 
	//$('#form').nfsko('gallery');
});
			</script>
			{% endif %}
		{% endblock %}
	{% endembed %}
{% endblock %}