{% extends "SiteGalleryBundle::gallery.html.twig" %}

{% macro bytesToSize(bytes) %}
{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}

    {% if bytes|abs < kilobyte %}
        {{ bytes ~ ' байт' }}
    {% elseif bytes|abs < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.') ~ ' Кб' }}
    {% elseif bytes|abs < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.') ~ ' Мб' }}
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% import _self as macros %}

{% block title %}Загрузка изображений | Альбом {{ album.name }} | Категория {{ category.name }} | Галерея изображений {{ parent(title) }}
{% endblock %}

{% block location %}
	<div class="module-navigate left">
		<a href='{{ path('site_gallery_homepage') }}'>{% trans %}Галерея{% endtrans %}</a><a href='{{ path('site_gallery_category', {'cRefId':category.getRefId}) }}'>{{ category.name }}</a><a href='{{ path('site_gallery_album', {'cRefId':category.getRefId, 'aRefId':album.dictionary.getRefId}) }}'>{{ album.name }}</a>
	</div>
{% endblock %}

{# % block content %}
<h1>Upload File</h1>

<form action="{{ path('site_gallery_addImages', {'cRefId': app.request.attributes.get('cRefId'),'aRefId': app.request.attributes.get('aRefId')}) }}" method="post" {{ form_enctype(form) }}>

    {{ form_label(form.files) }}
    {{ form_errors(form.files) }}
    {#{ form_widget(form.file, { 'attr': {'name': 'files[]'} }) }}
    {{ form_widget(form.files, { 'full_name': form.files.get('full_name') ~ '[]' }) }}

    {{ form_rest(form) }}
    <input type="submit" />
</form>
{% endblock %#}

{% block content %}
	{% embed "SiteCoreBundle::fancyBoxInner.html.twig" %}
		{% block title %}
			<h1>Добавление изображений</h1>
			<h3>Название категории: {{ album.category.name }}</h3>
			<h3>Название альбома: {{ album.name }}</h3>
			<h4>Формат изображений: <b>Jpeg</b></h4>
			<h4>Максимальный размер файла: <b>1 Мб</b></h4>
			{% if album.getAllowAdd == true %}<h4>Вам доступно: <b>{{ macros.bytesToSize(spaceInfo.free) }}</b> / <b>{{ macros.bytesToSize(spaceInfo.total) }}</b></h4>{% endif %}
			<form action='{{ path('site_gallery_addImages', {'cRefId':category.getRefId, 'aRefId':album.dictionary.getRefId}) }}' method='POST' {{ form_enctype(form) }} id='image' name='image'>
				<span>Выберите файлы:</span>
				{{ form_widget(form) }}
				<button type='submit' formtarget='_blank'>Загрузить</button>
			</form>
			
			{% endblock %}
		{% block content %}
			<ul class='gallery-container' id='droparea'></ul>
			{#<div id='dropbox'>Переместите изображения сюда</div>
			<div id='droparea_utils' class='hide'>
				<li class='gallery_thumb small'>
					<a href='' status="show" imgid=""><img/></a>
				</li>
			</div>		
			#}	
			<script>
$(document).ready(function(){ 
	//$('.gallery-container#droparea').nfsko('gallery');
	
	$('#droparea').fileupload({
			url: $('#image').attr('action')+'.json',
			fileInput: $('#form_file'),
			form : $('#image'),
			autoUpload: true,
// 			sequentialUploads: true,
			dataType: 'json',
// 	        add: function (e, data) {
// // 		        alert('Add');
// // 	            data.context = $('<p/>').text('Uploading...').appendTo(document.body);
// 	            data.submit();
// 	        }
// 	        done: function (e, data) {
// 	        	alert('Done');
// // 	            data.context.text('Upload finished.');
// 	        }
	});
});
			</script>
		{% endblock %}
	{% endembed %}
{% endblock %}